@model GameViewModel

<link rel="stylesheet" href="~/css/productcards.css">
<div class="container">

    <div class="row">
        @foreach (var game in Model.Games)
        {


            <div class="col-md-3">

                <div class="product-grid">

                    <div class="product-image">
                        <a asp-controller="Game" asp-action="ShowGameDetails" asp-route-productId=@game.GameId>
                            <img class="pic-1" src="~/images/@game.ImagePath">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title">
                            <a asp-controller="Game" asp-action="ShowGameDetails" asp-route-productId=@game.GameId>@game.Title</a>
                        </h3>

                        <div class="price">@game.Price.ToString() zł</div>
                        <form asp-controller="Cart" asp-action="AddToCart" asp-route-gameId="@game.GameId" method="post">
                            <div class="text-center">
                              
                                <button type="submit" class="btn btn-primary" value="KUP"> <i class="fa fa-cart-plus"> KUP</i></button>
                            </div>
                            <div class="form-group">
                                <label asp-for="Amount">Ilość: </label>
                                <input asp-for="Amount" class="form-control" value="1" type="number" max="99" min="1"/>
                                <span asp-validation-for="Amount" class="text-danger"></span>
                            </div>


                        </form>

                    </div>

                </div>
            </div>

        }

    </div>
</div>
