
<h2 class="text-danger text-center">Twój koszyk jest pusty !!</h2>
<div class="text-center"> <a class="btn btn-primary" asp-controller="Game" asp-action="ListAllGames"><i class="fa fa-reply"></i> Wróć do zakupów</a></div>