@model IEnumerable<Game>

<link rel="stylesheet" href="~/css/productcards.css">
<div class="container">

    <div class="row" style="padding-top: 140px;">
        @foreach (var game in Model)
        {


            <div class="col-md-3">

                <div class="product-grid">

                    <div class="product-image">
                        <a asp-controller="Game" asp-action="ShowDetails" asp-route-productId=@game.GameId>
                            <img class="pic-1" src="~/images/@game.ImagePath">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title">
                            <a asp-controller="Game" asp-action="ShowDetails" asp-route-productId=@game.GameId>@game.Title</a>
                        </h3>
                        <div class="price">@game.Price </div>
                        <button class="btn btn-primary"><i class="fa fa-cart-plus"></i> KUP</button>
                    </div>

                </div>
            </div>

        }

    </div>
</div>
