
            <form class="btn" asp-action="Charge" asp-controller="Pay" method="post">
                <article>
                    <label>Dostępna płatność: </label>
                </article>
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        
                        data-key="pk_test_5gv0AgcbTI6p0yNue3MfKd7G00bSpekRuE"
                        data-locale="auto"
                        data-description="Opłać zamówienie"
                        data-label="Zapłać kartą">
                </script>

            </form>
     
